{% extends "network/layout.html" %}
{% load static %}

{%block head%}

{%endblock%}

{% block body %}

    <h2 class="page-title">Register</h2>

<center>

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label">Username: </label>
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label class="form-label">Email: </label>
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <label class="form-label">Password: </label>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="form-label">Confirm Password: </label>
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn-secondary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</center>

{% endblock %}