@use 'variables';



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;

    height: 70px;

}



.navbar-brand{

    font-weight: bold;
    font-size: 1.5rem;
    &:hover{
        opacity: 0.8;
    }
}

.navbar-nav {
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

.nav-item {
    margin: 0 2vw;
}

.nav-link:hover { 
        border-bottom: 3px solid variables.$secondary;
        opacity: 0.8;
}

